:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html,
body {
  height: 100%;
}
#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: white;
  opacity: 0.2;
}
.swiper-pagination-bullet-active-main {
  width: 30px;
  opacity: 1;
  border-radius: 8px;
}

/* 反光板定义一个csshack */
.swiper-wrapper-gap-20 > .swiper-wrapper {
  gap: 20px;
  position: relative;
}
/* 滚动条的样式优化 */
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  height: 0px;
  background-color: transparent;
  -webkit-border-radius: 6px;
}
.iGiEeo {
  z-index: 1333 !important;
}

* {
  font-family: Microsoft YaHei;
}
.ant-picker .ant-picker-input > input {
  color: #fff;
}
.anticon {
  color: #fff;
}
.ant-upload-list-item {
  color: #fff;
  font-size: 18px;
}

.ant-upload-list-item .ant-upload-icon .anticon {
  color: #fff;
  font-size: 18px;
}
.ant-upload-list-item-actions .anticon {
  color: #fff;
  font-size: 18px;
}
.number {
  font-family: DIN;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;

  color: #ffffff;
}
.numberLable {
  opacity: 0.5;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: left;
  font-family: Microsoft YaHei;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;

  color: #ffffff;
}
.numberInput {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 0 14px;
}
.SwitchDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-between;
  width: 100%;
}
.SwitchDiv .MuiSwitch-root {
  width: 110px;
  height: 45px;
  padding: 0;
}
.SwitchDiv .MuiButtonBase-root {
  padding: 3px;
  color: #ffffff;
}
.SwitchDiv .MuiSwitch-thumb {
  width: 39px;
  height: 39px;
  border-radius: 5px;
  opacity: 1;
}
.SwitchLable {
  opacity: 0.5;
}
.SwitchDiv .Mui-checked {
  transform: translateX(65px) !important; //110 -39-6
}
.SwitchDiv .MuiSwitch-track {
  background-color: #d8d8d8 !important;
  opacity: 0.5 !important;
}
.ant-picker-dropdown {
  z-index: 2050;
}
